:root {
   --color-primary:   #000000;
   --color-secondary: #03378B;
;
}

.text-primary { color: var(--color-primary) !important; }

.text-primary-hover:hover {
  color: var(--color-primary) !important;
}

.text-secondary-hover:hover {
  color: var(--color-secondary) !important;
}

.bg-primary {
  background-color: var(--color-primary) !important;
}

.bg-primary-hover:hover {
  background-color: var(--color-primary) !important;
}

.bg-secondary-hover:hover {
  background-color: var(--color-secondary) !important;
}

.border-primary {
  border: 2px solid var(--color-primary) !important;
}

.border-secondary-hover:hover {
  border: 2px solid var(--color-secondary) !important;
}